 .nav.brand-logo i.material-icons {
  margin-right: 1px !important;
}

.slider .btn {
  margin-top: 20px;
}

.section-search input[type="text"]{
  font-size: 24px;
  color: white;
}
.section-search input
{
  padding: 5px;
  border: 0 solid ghostwhite;
  background: #e57373 !important;
  color: white;
  width: 90%;

}

.section-search input::placeholder {
  text-align: justify;
  font-size: 18px;
  font-style: italic;
  color: rgb(184, 219, 187);
}

.autocomplete-content{
  position: absolute;
  width: 100%;
  text-align: center;
}
